

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

#contenedor{
    width: 900px;
    height: 600px;
    color: #5e5e4a;
}

#encabezado {
    height: 40px;
    color: #bada55;
    background-color: #B58A69;
}

#menu {
    color: #0000;
    font-size: 18px;
    height: 60px;
    margin-top: 15px;
}

nav{
    display: flex;
    flex-direction: row;
}

#seccion1{
    height: 55%;
    background-color: #dee5de;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    text-align: justify;
    padding-right: 15px;
}

.imagen1{
    height: 200px;
    width: 340px;
    margin-top: -18px;
    margin-left: 50px;
    margin-right: 15px;
    float: left;
}

#boton{
    background-color: #5e5e4a;
    padding-top: 10px;
    height: 30px;
    width: 130px;
    margin-left: 100px;
    margin-top: 45px;
    text-align: center;
    color: white;
}

article{
    display: inline;
}

.encabezado-articulo{
    font-size: 25px;
}

p{
    text-align: justify;
    font-size: 14px;
}

#fueraSeccion{

    height: 40%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    background-color: #d7d7cb;
}

.encabezado-aside{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

img{
    width: 200px;
    height: 110px;
    padding-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
}

#pie {
    padding: 5px;
    background-color: #5e5e4a;
    margin-left: 50px;
    margin-right: 50px;
    color: #e8e6e6;
}

#articulo{
    display: inline-block;
}

#imagenarticulo{
    display: inline-block;
}

a{
    color: #5e5e4a;
    margin-right: 55px;
    margin-left: 55px;
}

a:hover{
	color: crimson;
	text-decoration:underline;
	list-style: none;
}

@media screen and (max-width:650px) {
    nav{
        flex-direction: column;
    }
    #menu{
        height: 140px;
    }
    a{
        padding-top: 5px;
    }
}
